<!-- ======= Header ======= -->
<header id="header" #header>
  <div class="container-fluid">

    <div class="logo">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href=""><img [src]="'assets/img/logo/' + (logoImg$ | async)" alt="" class="img-fluid"></a>
    </div>
    <button class="hamburger hamburger--spin nav-toggle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <nav class="nav-menu">
      <ul>
        <li class="" (click)="toggleNav()"><a href="#header" class="scrollto">Home</a></li>
        <li (click)="toggleNav()"><a href="#about" class="scrollto">About Us</a></li>
        <li (click)="toggleNav()"><a href="#why-us" class="scrollto">Why Us</a></li>
        <!-- <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li> -->
        <li (click)="toggleNav()"><a href="#contact" class="scrollto">Contact Us</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End #header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-canvas-container">
    <div class="landscape"></div>
    <div class="landscape-cont"></div>
    <div class="moonscape">
      <div class="moon">
        <div class="moon-phase"></div>
      </div>

      <div class="poc1"></div>
      <div class="poc2"></div>
      <div class="poc3"></div>
      <div class="poc4"></div>
      <div class="poc5"></div>
      <div class="poc6"></div>
      <div class="poc7"></div>
      <div class="poc8"></div>
    </div>
    <div class="filter"></div>
    <canvas id="heroCanvas"></canvas>
  </div>
  <div class="hero-container">
    <h1 data-aos="fade-up"><b>YOUR JOURNEY BEGINS HERE</b></h1>
    <h2 data-aos="fade-left">Interested in CyberSec, InfoSec, OSINT, Programming, or Tech in general?<br>
      <b class="text-secondary">OWLsec</b> is made for <b class="text-decoration-underline">YOU</b>! Sign up for updates, and use the widget below to join our Discord!</h2>

    <form #subscriberForm="ngForm" role="form" class="email-form">
      <div class="row no-gutters" data-aos="fade-up">
        <div class="col-md-6 form-group pr-md-1 mb-1">
          <input [(ngModel)]="subscriberData.name" #name="ngModel" type="text" name="name" class="form-control" id="name" minlength="3" maxlength="30" placeholder="Your Name" required>
          <p class="form-text text-danger text-start ms-3" *ngIf="name.dirty && name?.invalid">
            Please enter a valid name
          </p>
        </div>
        <div class="col-md-6 form-group pl-md-1 mb-1">
          <input [(ngModel)]="subscriberData.email" #email="ngModel" email type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          <p class="form-text text-danger text-start ms-3" *ngIf="email.dirty && email?.invalid">
            Please enter a valid email
          </p>
        </div>
      </div>

      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your notification request was sent. Thank you!</div>
      </div>

      <div class="text-center"><button type="button" [disabled]="subscriberForm.invalid" (click)="addNewSubscriber(subscriberData, subscriberForm)">Notify me!</button></div>
    </form>

  </div>
</section><!-- #hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <iframe class="w-100" src="https://discord.com/widget?id=990435451334688768&theme=dark" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="150">
          <h3>Members of OWLsec benefit from more than just a place to learn.</h3>
          <p class="fst-italic">
            What are those benefits?
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> 100% Free access to the decades of experience within OWLsec.</li>
            <li><i class="bx bx-check-double"></i> OWLsec includes reputable authors, hacktivists, inflencers and professionals.</li>
            <li><i class="bx bx-check-double"></i> Our members have access to exclusive opportunities such as jobs and training.</li>
          </ul>
          <p>
            Unlike the countless number of online "communities", OWLsec invests in our members. We will guide you throughout your learning journey,
            encouraging growth, and pushing you to challenge yourself. Our goal simple: <b class="text-secondary"><em>Provide "Open Source" Knowledge To All.</em></b>
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <img src="assets/img/open-source.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-icon">
              <i class="bx bx-book-reader"></i>
            </div>
            <div class="card-body px-3">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text"><b class="text-secondary">OWLsec</b> is determined to raise the bar for all online communities. A community should be a welcoming, positive, and supportive environment, where members are encouaged, rather than discouraged. <b class="text-secondary">OWLsec</b> offers all of these essential aspects, generating individual member retention and growth. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
          <div class="card">
            <img src="assets/img/path-to-success.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-icon">
              <i class="bx bx-calendar-edit"></i>
            </div>
            <div class="card-body px-3">
              <h5 class="card-title"><a href="">Our Plan</a></h5>
              <p class="card-text">Our foundation consists of members who are experienced Pentesters, Programmers, and Cyber professionals. They are the leaders, mentors, and core contributors who breath life into the <b class="text-secondary">OWLsec</b> community. Acquiring more members like them is how <b class="text-secondary">OWLsec</b> will grow.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <img src="assets/img/our-vision.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-icon">
              <i class="bx bx-landscape"></i>
            </div>
            <div class="card-body px-3">
              <h5 class="card-title"><a href="">Our Vision</a></h5>
              <p class="card-text">As one of the fastest growing online communities, we understand how important it is to remain true to our values. <b class="text-secondary">OWLsec</b> was made to offer one very simple service: Provide a healthy environment for like-minded individuals to learn and grow together. We will set a new standard for online learning and comaraderie. </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Frequenty Asked Questions Section ======= -->
  <section class="faq">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Frequenty Asked Questions</h2>
      </div>

      <div class="faq-list" data-aos="fade-up">
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static0">
          <ngb-panel *ngFor="let item of faqDb; let i = index;" [type]="'secondary'" [title]="item.question" [id]="'static'+i">
            <ng-template ngbPanelContent>
              <div [innerHTML]="item.answer | safeHtml"></div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

    </div>
  </section><!-- End Frequenty Asked Questions Section -->

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-5 mb-5 mb-md-0">
          <div class="info">
            <div class="address" data-aos="fade-right" data-aos-delay="">
              <i class="bx bxl-discord"></i>
              <p><a style="text-decoration: none;" class="text-dark" href="https://skid.owlsec.co">OWLsec Discord</a></p>
            </div>

            <div class="email" data-aos="fade-right" data-aos-delay="150">
              <i class="bx bx-envelope"></i>
              <p><a style="text-decoration: none;" class="text-dark" href="mailto:hello@owlsec.io">hello@owlsec.io</a></p>
            </div>

            <div class="phone" data-aos="fade-right" data-aos-delay="300">
              <i class="bx bxs-t-shirt"></i>
              <p><a style="text-decoration: none;" class="text-dark" href="https://owlsec.io/merch">owlsec.io/merch</a></p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter" data-aos="fade-up" data-aos-delay=""><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook" data-aos="fade-up" data-aos-delay="100"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram" data-aos="fade-up" data-aos-delay="200"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin" data-aos="fade-up" data-aos-delay="300"><i class="bx bxl-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-6">
          <form #contactForm="ngForm" role="form" class="form email-form">
            <div class="form-group" data-aos="fade-up" data-aos-delay="">
              <input [(ngModel)]="contactData.name" #name="ngModel" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group mt-3" data-aos="fade-up" data-aos-delay="100">
              <input [(ngModel)]="contactData.email" #email="ngModel" type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
            <div class="form-group mt-3" data-aos="fade-up" data-aos-delay="200">
              <input [(ngModel)]="contactData.subject" #subject="ngModel" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3" data-aos="fade-up" data-aos-delay="300">
              <textarea [(ngModel)]="contactData.msg" #msg="ngModel" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="mt-3">
              <div class="sent-message" *ngIf="contactMsg.success">
                <p>{{contactMsg.msg}}</p>
              </div>
            </div>
            <div class="text-center mt-3" data-aos="fade-up" data-aos-delay="400"><button class="btn btn-secondary" type="button" (click)="addNewContact(contactData, contactForm)" [disabled]="contactForm.invalid">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Us Section -->

<div id="hardenize-container" data-aos="fade-right" data-aos-offset="700" style="z-index: 2; position: fixed; bottom: 30px; left: 16px;">
  <a href="https://www.hardenize.com/report/owlsec.io?summary" target="_blank"
   referrerpolicy="origin" rel="noopener"><img referrerpolicy="origin" border="0"
   src="https://badge.hardenize.com/v2/images/hardenize-badge-owlsec.io.png"
   width="70" height="110" hspace="0" vspace="0" alt="Hardenize Badge"></a>
</div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2022 <strong><span>OWLsec</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://owlsec.io">OWLsec</a>
    </div>
  </div>
</footer><!-- End #footer -->
